<div class="wrapper">
    <form [formGroup]="form" class="example-form" (ngSubmit)="saveData()" fxLayout="column" fxLayoutGap="10px"
        id="myForm">
        <mat-form-field apperance="outline">
            <mat-label>Name:</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Enter your name...">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Enter your Email...">
        </mat-form-field>

        <mat-form-field>
            <mat-label>City:</mat-label>
            <input matInput type="text" formControlName="city" placeholder="Enter your City...">
        </mat-form-field>

        <input (change)="addFile($event)" type="file" name="fileInput" formControlName="resume"
            style="margin-bottom: 10px;">

        <div class="btn-wrapper">
            <button style="background: #C6D3F0;" mat-raised-button routerLink="/table">Back</button>
            <button [disabled]="form.invalid" mat-raised-button type="submit" form="myForm">Save</button>
        </div>
    </form>
</div>