.table-wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 100%;
  justify-content: center;
  text-align: center;

  .top-wrapper {
    display: flex;
    justify-content: space-between;

    .btn-wrapper {
      margin: 24px 0;
    }
  }

  mat-form-field {
    width: 20%;
  }

  .icon-btn-wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
}

.mat-icon {
  margin: 0 !important;
}
